<div class="card-container text-center">
  <a [routerLink]="['/home']" class="logo google-sans-regular">
    <img src="assets/images/pcc-logo.png" alt="Logo" width="100" />
    <span class="google-sans-bold">PCCian's Guide</span>
  </a>
  <br>
  <br>
  <mat-card>
    <mat-card-content class="text-left">
      <a [routerLink]="['/search-type']"><i class="fa-solid fa-arrow-left"></i> Back</a>
      <h1 class="google-sans-bold">
        Gallery
      </h1>
      <div class="text-center">
        <div class="iframe-container">
          <iframe
            src="https://momento360.com/e/uc/f272ab9da8b248769a2fdbadbde481aa?utm_campaign=embed&utm_source=other&size=medium&display-plan=true"
            frameborder="0"></iframe>
        </div>
      </div>
      <footer class="text-center">
        <hr>
        © {{currentYear}} PCCian's Guide
      </footer>
    </mat-card-content>
  </mat-card>

</div>