<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="card-container">
  <a [routerLink]="['/home']" class="logo google-sans-regular">
    <img src="assets/images/pcc-logo.png" alt="Logo" width="100" />
    <span class="google-sans-bold">PCCian's Guide</span>
  </a>
  <br>
  <br>
  <mat-card>
    <img [src]="bannerUrl" class="banner" />
    <mat-card-content class="text-left">
      <button (click)="back()" class="back-button"><i class="fa-solid fa-arrow-left"></i> Back</button>
      <h1 class="google-sans-bold">
        {{name}}
      </h1>
      <ul>
        <li>Building: {{building}}</li>
        <li>Floor: {{floor}}</li>
        <li>Type: {{type}}</li>
        <li *ngIf="description">Description: {{description}}</li>
      </ul>
      <h2 class="google-sans-bold">
        Direction
      </h2>
      <img [src]="directionUrl" class="direction" />
      <footer class="text-center">
        <hr>
        © {{currentYear}} PCCian's Guide
      </footer>
    </mat-card-content>
  </mat-card>

</div>