<!--The content below is only a placeholder and can be replaced.-->
<div class="card-container text-center">
  <a [routerLink]="['/home']" class="logo google-sans-regular">
    <img src="assets/images/pcc-logo.png" alt="Logo" width="100" />
    <span class="google-sans-bold">PCCian's Guide</span>
  </a>
  <br>
  <br>
  <mat-card>
    <img src="assets/images/home.jpg" class="banner" />
    <mat-card-content class="text-left">
      <h1 class="google-sans-bold">
        Welcome!
      </h1>
      <p class="roboto-normal">Welcome to the PCCian Guide—your guide to seamless and efficient campus exploration. Our
        platform is designed
        to help students, visitors, and staff easily locate rooms, offices, and facilities within the Monsignor Building
        through intuitive mapping and step-by-step navigation. With accuracy, accessibility, and convenience at its
        core, this tool ensures you spend less time searching and more time focusing on what truly matters.</p>
      <div class="text-center">
        <button mat-raised-button color="primary" class="cta start" [routerLink]="['/search-type']">Start</button>
      </div>
      <div></div>
    </mat-card-content>
  </mat-card>

</div>