<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="card-container">
  <a [routerLink]="['/home']" class="logo google-sans-regular">
    <img src="assets/images/pcc-logo.png" alt="Logo" width="100" />
    <span class="google-sans-bold">PCCian's Guide</span>
  </a>
  <br>
  <br>
  <mat-card>
    <img src="assets/images/search.jpg" class="banner" />
    <mat-card-content class="text-left">
      <a [routerLink]="['/search-type']"><i class="fa-solid fa-arrow-left"></i> Back</a>
      <h1 class="google-sans-bold">
        Quick Search
      </h1>
      <form *ngIf="searchForm as form" [formGroup]="form" (submit)='onSubmit()' class="search-form">
        <input formControlName="keyword" matInput placeholder="Search Location" class="search-box google-sans-bold">
        <button class="search-button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <br>
      <div></div>
    </mat-card-content>
  </mat-card>

</div>