@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
html {
  /* Set the background image */
  background-image: url("assets/images/pcc-bg.jpg");
  /* Replace with your image file path */

  /* Scale the image to cover the entire container while preserving its aspect ratio */
  background-size: cover;

  /* Center the image within the container */
  background-position: center;

  /* Prevent the image from repeating */
  background-repeat: no-repeat;

  /* Optional: Fix the background so it doesn't scroll with the content (parallax effect) */
  background-attachment: fixed;

  /* Ensure the container (or body) has the necessary height to display the cover */
  height: 100%;

  line-height: 1.6;
}

body {
  font-family: 'LatoRegular', sans-serif;
}

h1 {
  color: #960106;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, .87);
}

a:hover {
  color: #960106;
}

.logo {
  position: relative;
  display: inline-block;
  width: 320px;
  text-align: left;
}

.logo span {
  position: absolute;
  display: inline-block;
  font-size: 28px;
  top: 30px;
  left: 110px;
  color: #960106;
}

.mat-card {
  background: #fff;
}

.mat-raised-button {
  border-radius: 20px;
}

.mat-raised-button.mat-primary {
  background-color: rgb(213, 23, 13);
  color: #fff;
  border-radius: 20px;
}

.mat-raised-button.mat-primary:hover {
  background-color: rgba(213, 23, 13, .75);
}

.card-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.banner {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.mat-raised-button.cta {
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Google Sans", sans-serif;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 50px;
}

.google-sans-regular {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

.google-sans-bold {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container .mat-card {
  border-radius: 15px;
  padding: 0;
}

.container .mat-card-content {
  padding: 24px
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

table {
  width: 100%;
}

thead {
  display: none;
}

.mat-raised-button.primary {
  min-width: 230px;
  margin: .5rem 0 1rem 0;
}

.container .mat-paginator-container {
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 500px) {
  .card-container {
    width: 300px;
  }

  .logo span {
    font-size: 26px;
  }
}